{% extends "layout.html" %}

{% block title %}
Admin |
{% endblock %}

{% block main %}
<main>
    <h1>Admin</h1>

    <!-- Setup Database -->
    <form action="/admin/db_setup" method="post">
        <!-- <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div> -->
        <div class="row justify-content-center">
            <label for='setupdb'>(re)process database setup functions</label>
            <button class="btn btn-primary" id='setupdb' type="submit">Setup Database</button>
        </div>
    </form>

    <!-- Import Template -->
    <form action="/admin/template_setup" method="post">
        <label for='setupdb'>Import template csv</label>
        <button class="btn btn-primary" id='setupdb' type="submit">Import Templates</button>
    </form>

    <!-- This is busted, but maybe link below has solution -->
    <!-- https://buildcoding.com/upload-and-download-file-using-flask-in-python/ -->
    <form action="/admin/import_template">
        <input type="file" id="myFile" name="filename">
        <input type="submit" disabled>
    </form>

    <h2>Cards</h2>
        <ul>
            {% for card in cards %}
                <li>{{ card.card }} of {{ card.suit }}: {{ card.text }}</li>
            {% endfor %}
        </ul>
</main>
{% endblock %}