{% extends "layout.html" %}

{% block title %}
Character |
{% endblock %}

{% block main %}
    <main>
        <form action="/character" method="post">
            <ul class="flex-outer">
            <li>
                <label for="name">Character Name</label>
                <input type="text" name="name" id="name" placeholder="Enter character name.">
            </li>
            <li>
                <label for="class">Character Class</label>
                <input type="text" name="class" id="class" placeholder="Enter character class.">
            </li>
            <li>
                <label for="strength">Strength</label>
                <input type="text" name="strength" id="strength" placeholder="Character strengths.">
            </li>
            <li>
                <label for="weakness">Weakness</label>
                <input type="text" name="weakness" id="weakness" placeholder="Character weaknesses.">
            </li>
            <li>
                <label for="ao_1">Altered Object 1</label>
                <textarea rows="" name="ao_1" id="ao_1" placeholder="Altered Object 1"></textarea>
            </li>
            <li>
                <label for="ao_2">Altered Object 2</label>
                <textarea rows="" name="ao_2" id="ao_2" placeholder="Altered Object 2"></textarea>
            </li>
            <li>
                <label for="ao_3">Altered Object 3</label>
                <textarea rows="" name="ao_3" id="ao_3" placeholder="Altered Object 3"></textarea>
            </li>
            <li>
                <p>Level</p>
                <ul class="flex-inner">
                    <ul class="flex-inner">
                        <li>
                            <label for="lvl_1">Level 1</label>
                            <input type="checkbox" id="lvl_1" name="lvl_1">
                        </li>
                            <label for="lvl_2">Level 1</label>
                            <input type="checkbox" id="lvl_2" name="lvl_2">
                        </li>
                            <label for="lvl_3">Level 1</label>
                            <input type="checkbox" id="lvl_3" name="lvl_3">
                        </li>
                            <label for="lvl_4">Level 1</label>
                            <input type="checkbox" id="lvl_4" name="lvl_4">
                        </li>
                    </ul>
                </ul>
            </li>
            <li>
                <p>HP</p>
                <ul class="flex-inner">
                    <ul class="flex-inner">
                        <li>
                          <input type="checkbox" id="hp">
                          <label for="lvl_1">Level 1</label>
                        </li>
                        <li>
                            <input type="checkbox" id="hp">
                            <input type="checkbox" id="hp">
                            <label for="lvl_2">Level 2</label>
                        </li>
                        <li>
                            <input type="checkbox" id="hp">
                            <input type="checkbox" id="hp">
                            <input type="checkbox" id="hp">
                            <label for="lvl_3">Level 3</label>
                        </li>
                        <li>
                            <input type="checkbox" id="hp">
                            <input type="checkbox" id="hp">
                            <input type="checkbox" id="hp">
                            <input type="checkbox" id="hp">
                            <label for="lvl_4">Level 4</label>
                        </li>        
                    </ul>                
                </ul>
            </li>
            <li>
                <button type="submit">Submit</button>
            </li>
            </ul>
        </form>

        <h4>Characters</h4>
        <h5>Choose a Class</h5>        
        <select>
            {% for class in classes %}
            <option>{{ class.name }} - {{ class.description }}</option>
            {% endfor %}
        </select>

        <ul>
            {% for character in characters %}
                <li>
                    <h6>
                        {{ character.name }}
                    </h6>
                    {{ character.class }}
                    {{ character.strength }}
                    {{ character.weakness }}
                    {{ character.ability_1 }}
                    {% if character.ability_2 is not none %}
                        {{ character.ability_2 }}
                    {% endif %}
                    {% if character.ability_3 is not none %}
                        {{ character.ability_3 }}
                    {% endif %}
                    {% if character.ability_4 is not none %}
                        {{ character.ability_4 }}
                    {% endif %}
                    {{ character.ao_1 }}
                    {{ character.ao_2 }}
                    {{ character.ao_3 }}
                </li>
            {% endfor %}
        </ul>
</main>
{% endblock %}