{% extends "layout.html" %}

{% block title %}
Character |
{% endblock %}

{% block main %}
<main>
    {% if errcode %}
    <h1>
        Error {{ errcode }}
    </h1>
    <h2>
        {{ errmsg }}
    </h2>
    {% else %}
    <h1>
        Feedback
    </h1>
    {% endif %}


    <!-- Feedback -->
    <p>
        Tell us what went wrong, and give us permission to collect informtaion to fix it.
    </p>

    <form action="/error">

        <label for="lvl_1">It's ok to associate my username with this error and feedback.</label>
        <input type="checkbox" id="username" checked>

        <label for="">What went wrong?</label>
        <input type="text" name="feedbacktext" id="feedbacktext" placeholder="How can we fix it?">

        <!-- <label for=""></label>
        <input type="text" name="" id="" placeholder=""> -->
        <input type="submit" value="Submit">
    </form>

</main>
{% endblock %}
