{% extends "layout.html" %}

{% block title %}
Game |
{% endblock %}

{% block main %}
<main>
    <h1>Game</h1>

    <div>
        <h3>Self</h3>
            <ul>
                <li>

                </li>
            </ul>

        <h3>Party</h3>
        <ul>
            <!-- for member in party -->
                <li>
                    
                </li>
        </ul>

    </div>    

    <h2>Log</h2>
        <ul>
            <!-- for log in logs -->
                <li>

                </li>
        </ul>

    <p>
        Ipsum dolor set
    </p>

    <a href="/pregame">
        <button>
            Go to Pregame
        </button>
    </a>

</main>
{% endblock %}