{% extends "layout.html" %}

{% block title %}
Home |
{% endblock %}

{% block main %}
<main>
    <h1>Friends</h1>
    <ul>
        <li>foo friend</li>
        <li>bar friend</li>
        {% for friend in friends %}
            <li>{{ friend.name }}</li>
        {% endfor %}
    </ul>
    <p>
        TODO add a friend
    </p>
    
    <h1>Campaigns</h1>
    <ul>
        <li>foo campaign</li>
        <li>bar campaign</li>
        {% for campaign in campaigns %}
            <li>{{ campaign.name }}</li>
        {% endfor %}
    </ul>
    <p>
        TODO add a campaign
    </p>
    


</main>
{% endblock %}