{% extends "layout.html" %}

{% block title %}
Home |
{% endblock %}

{% block main %}
<main>
    <h1>Hi, {{ username.username }}!</h1>
    <h1>Friends</h1>
    <ul>
        <li>foo friend</li>
        <li>bar friend</li>
        {% for friend in friends %}
            <li>{{ friend.name }}</li>
        {% endfor %}
    </ul>
    <table>
        {% for invitation in invitations %}
        <tr>
            <td>
                {{ invitation.username }}
            </td>
            <td>
                <form action="/admin/accept_friend">
                    <button type="submit" value="{{ invitation.id }}">
                        Accept
                    </button>
                </form>                        
            </td>
            <td>
                <form action="/admin/block_friend">
                    <button type="submit" value="{{ invitation.id }}">
                        Block
                    </button>
                </form>                        
            </td>
        </tr>
        {% endfor %}
    </table>


    <form action="/admin/invite_friend" method="post">
        <label for="friendname">Make Friend Request</label>
        <input type="text" id="friendname" name="friendname">
        <input type="submit" value="submit">
    </form>

    <p>
        TODO add a friend
    </p>
    
    <h1>Campaigns</h1>
    <ul>
        <li>foo campaign</li>
        <li>bar campaign</li>
        {% for campaign in campaigns %}
            <li>{{ campaign.name }}</li>
        {% endfor %}
    </ul>
    <p>
        TODO add a campaign
    </p>
    


</main>
{% endblock %}