{% extends "layout.html" %}

{% block title %}
Rules |
{% endblock %}

{% block main %}
<main>
    <h1>How to Play</h1>
    <a href="/register">
        <h4>
            Sign up to get started.
        </h4>
    </a>
    
    <h3>Gameplay</h3>
    <p>
        Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmander Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <h3>Objective</h3>
    <p>
        Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmander Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmeleon Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <h3>Mechanics</h3>
    <p>
        Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmander Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
        Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmander Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmeleon Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <h3>Classes</h3>
    <table>
        {% for class in classes %}
            <tr>
                <td>
                    {{ class.name }}
                </td>
                <td>
                    {{ class.description }}
                </td>                
            </tr>
        {% endfor %}
    </table>


    <h3>Cards</h3>
    <table>
        {% for card in cards %}
            <tr>
                <td>
                    {{ card.card }} of {{ card.suit }}
                </td>
                <td>
                    {{ card.text }}
                </td>                
            </tr>
        {% endfor %}
    </table>

</main>
{% endblock %}