{% extends "layout.html" %}

{% block title %}
Rules |
{% endblock %}

{% block main %}
<main>
    <h1>How to Play</h1>
    
    <h3>Objective</h3>
    <p>
        Placeholder and words on the screen.
    </p>
    
    <h3>Classes</h3>
    <table>
        {% for class in classes %}
            <tr>
                <td>
                    {{ class.name }}
                </td>
                <td>
                    {{ class.description }}
                </td>                
            </tr>
        {% endfor %}
    </table>


    <a href="/register">
        <h4>
            Sign up to get started.
        </h4>
    </a>
</main>
{% endblock %}